/*----- GENERAL STYLE -----*/
a{
    color: inherit;
}

/*----- SECTIONS -----*/
/*----- NAV -----*/
.navbar-brand > img{
    width: 50px;

}

.header-main{
    min-height: 100vh;
}

#texto-descripcion{
    color: #CEC3D5;
    text-align: center;
}

/*  BARRA DE ARCHIVOS   */
.drag-area{
    margin-top: 100px;
    border: 5px dashed #ddd;
    height: 300px;
    width: 550px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.drag-area h2{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.drag-area span{
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

.drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color: #52ad5a;
}

.failure{
    color: #ff0000;
}


/* BOTON DE CARGA DE ESTRUCTURAS*/
.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   

#tabla{
    width: 900px;
    text-align: center;
}

#tabla1{
    width: 1850px;
    text-align: center;
}



   